.dropdown:hover ul {
  display: block;
  border: 1px solid var(--primary);
}
.nav_enlace {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--negro);
  padding: 0.5rem;
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  width: 100%;
  display: block;
}
.nav_enlace:hover {
  color: var(--blanco);
  background-color: var(--primary);
}
