.cart-widget {
    font-size: 2.5rem;
    color: var(--primary);
    padding: 0 1rem;
}
.car {
    display: flex;
    align-items: flex-start;
}
.dropdown:hover ul {
    display: block; 
    border: 1px solid var(--primary);
}
.nav_enlace {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--negro);
    padding: .5rem;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    width: 100%;
    display: block;
}
.nav_enlace:hover {
    color: var(--blanco);
    background-color: var(--primary);
}